# Ignore temporary files created through editing, compilation, and linking.
*~
*.o
*.a
*.dblite
*.pyc
*.os
*.exe

# other files
*.ogv
*.avi
*.mp4
*.vti
*.vtk
*.ppm
*.gif
*.log*
*.txt*
*.csv*
*.tmp
*tmp/
